.cactiva-hook {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.cactiva-hook-empty {
  color: #425a70;
  padding: 10px;
  text-align: center;
  justify-content: center;
  font-size: 12px;
}

.cactiva-hook-item {
  font-size: 12px;
  color: #425a70;
  border-bottom: 1px solid #ddd;
  padding: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cactiva-hook-name {
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 5px;
}

.cactiva-hook-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
  justify-content: space-between;
}

.cactiva-hook-type {
  color: #1070ca;
  border: 1px solid #c0daf3;
  padding: 0 3px;
  border-radius: 2px;
  margin-right: 4px;
}

.cactiva-hook-options {
  display: flex;
  padding: 6px;
}

.cactiva-hook-select {
  flex: 1;
}

.cactiva-hook-editor {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: 12px;
  background-color: #103839;
  color: white;
  position: relative;
  user-select: none;
  padding: 10px;
  width: 500px;
  height: 400px;

  .editor-name {
    padding-bottom: 10px;

    input {
      font-size: 12px;
      color: white;
      background: transparent;
      border: none;
      border-bottom: 1px solid #fff;
      padding: 0 5px;
    }

    input::placeholder {
      color: white;
    }

    input:focus {
      outline: none;
    }

    label {
      font-size: 11px;
    }
  }
}
