.cactiva-editor-container {
  margin-right: -4px;
  overflow-x: hidden;
}
.cactiva-editor {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.cactiva-wrapper,
.cactiva-canvas {
  flex: 1 1 1px;
  padding: 5px;
  overflow-y: auto;
  background: #fff;
}

.cactiva-element {
  border: 1px dotted #aaa;
  display: flex;
  flex-direction: column;
  min-height: 30px;
  min-width: 30px;
  padding: 0px 5px;
  position: relative;
  &.hover {
    border: 1px solid #3ba0fb;
  }
  &.selected {
    border: 1px solid #3ba0fb;
  }
  &.kind {
    padding: 0;
  }
  &.horizontal {
    flex-direction: row;
    align-items: center;
    display: flex;
    padding: 5px 0px;
  }
}

.cactiva-element-tag {
  background-color: #3ba0fb;
  position: absolute;
  width: auto;
  height: auto;
  top: -1px;
  right: -1px;
  color: #fff;
  padding: 4px;
  font-size: 10px;
  display: none;
  z-index: 9;

  &.hover {
    display: block;
  }

  > span {
    font-size: 9px;
  }
}

.cactiva-breadcrumb {
  display: flex;
  flex-direction: row;
  background: #fbfbfb;

  .breadcrumb-tag {
    position: relative;
    background-color: #fbfbfb;
    cursor: pointer;

    div {
      span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        font-size: 12px;
        line-height: 15px;
        color: #425a70;
        transition: max-width 1.6s ease-out;
        max-width: 40px;
        padding: 5px 10px 5px 15px;
        text-decoration: none;
        background: #fbfbfb;
        border: 1px solid #eaeaea;
        font-family: 'SF UI Text', -apple-system, BlinkMacSystemFont, 'Segoe UI',
          Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
          'Segoe UI Emoji', 'Segoe UI Symbol';
      }
    }
    &:hover,
    &.selected {
      &:before {
        border-left: 10px solid #ececeb;
      }
      div {
        span {
          max-width: 120px;
          transition: max-width 0.3s;
          background: #ececeb;
        }
      }
    }

    &:before {
      content: '';
      position: absolute;
      right: -9px;
      top: 0;
      z-index: 20;
      border-left: 10px solid #fbfbfb;
      border-top: 13px solid transparent;
      border-bottom: 13px solid transparent;
    }

    &:after {
      content: '';
      position: absolute;
      right: -10px;
      top: 0;
      z-index: 10;
      border-left: 10px solid #eaeaea;
      border-top: 13px solid transparent;
      border-bottom: 13px solid transparent;
    }

    &.selected {
      div {
        span {
          color: #1070ca;
          background: #e5eef6;
        }
      }
      &:before {
        border-left: 10px solid #e5eef6;
      }
    }

    &:first-child {
      border-left: none;
      // font-size: 18px;
      // border-radius: 5px 0px 0px 5px;
    }
  }
}

.cactiva-wrapper {
  padding: 0;
  display: flex;
}

.cactiva-toolbar {
  background: #fbfbfb;
  flex-direction: column;
  display: flex;
  padding: 2px;
  overflow-y: scroll;
  margin-right: -15px;

  .divider {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ebebeb;
    margin: 4px 0;
    padding: 0;
  }

  .btn-toolbar {
    padding: 5px;
  }
}
