.cactiva-editor-container {
  margin-right: -4px;
  overflow-x: hidden;
}

.cactiva-element {
  border: 1px dotted !important;
  border-color: #aaa !important;
  display: flex;
  flex-direction: column;
  min-height: 30px;
  min-width: 30px;
  padding: 0px 5px;
  position: relative;
  &.hover {
    border: 1px solid !important;
    border-color: #3ba0fb !important;
  }
  &.selected {
    border: 1px solid !important;
    border-color: #3ba0fb !important;
  }
  &.kind {
    padding: 0;
    min-height: 15px !important;
    &.selected,
    &.hover {
      border: 1px solid !important;
      border-color: #3ba0fb !important;
    }
    background-image: linear-gradient(
      135deg,
      #ffffff 25%,
      #e3e3e3 25%,
      #e3e3e3 50%,
      #ffffff 50%,
      #ffffff 75%,
      #e3e3e3 75%,
      #e3e3e3 100%
    );
    background-size: 31.11px 31.11px;
    > span {
      padding: 0px 5px !important;
      margin: 2px !important;
    }
  }
  &.horizontal {
    flex-direction: row;
    align-items: center;
    display: flex;
    padding: 5px 0px;
  }
}

.text > div > div > .kind {
  margin: 0px 5px;
}

.cactiva-element-tag {
  background-color: #3ba0fb;
  position: absolute;
  width: auto;
  height: auto;
  top: -1px;
  right: -1px;
  color: #fff;
  padding: 4px;
  font-size: 10px;
  display: none;
  z-index: 9;

  &.hover,
  &.selected {
    display: block;
  }
  &.hover {
    z-index: 10;
  }

  > span {
    font-size: 9px;
  }
}

.empty {
  color: white;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0.7;
}

.cactiva-editor {
  flex: 1;
  display: flex;
  flex-direction: column;
  &:focus {
    outline: none !important;
  }

  .cactiva-editor-source {
    height: 250px;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    background: #1e1e1e;

    .editor-source-action {
      display: flex;
      flex-direction: row;
      padding: 0px 3px 5px 5px;
      height: 11px;
      justify-content: space-between;
    }
    .action-toolbar {
      display: flex;
      flex-direction: row;
      align-items: center;

      .action-btn {
        user-select: none;
        padding: 0px 5px;
        border: 1px solid #ccc;
        border-radius: 2px;
        margin-right: 5px;
        cursor: pointer;
        height: 10px;
        display: flex;
        align-items: center;
        padding-left: 13px;
        > span {
          font-size: 9px;
          line-height: 9px;
          height: 9px;
          color: white;
        }
        > svg {
          position: absolute;
          color: white;
          margin-left: -12px;
        }
        &.green {
          border-color: #12943f;
          background: #0c612a;
        }
        &.red {
          border-color: #7e0808;
          background: #610c0c;
        }
      }
    }

    .source-action {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      justify-content: space-between;
    }
  }

  .cactiva-wrapper {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    position: relative;
    flex: 1;

    .cactiva-editor-wrapper {
      position: relative;
      flex: 1;

      .cactiva-editor-content {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

        .gutter {
          display: none;
          border: 0;
          background: #1e1e1e;
          border-top-right-radius: 3px;
          border-top-left-radius: 3px;
          cursor: row-resize !important;
        }
        .cactiva-canvas {
          overflow-y: auto;
          > div {
            margin: 5px;
          }
        }
        &.unsplit {
          .cactiva-canvas {
            height: 100% !important;
          }
        }
        &.resplit {
          .cactiva-canvas {
            display: none !important;
          }
          .cactiva-editor-source {
            height: 100% !important;
          }
        }
        &.split {
          .gutter {
            display: block;
          }
          .cactiva-editor-source {
            background: #1e1e1e;
          }
        }
      }
    }
  }

  .cactiva-editor-footer {
    background: #ececeb;
    border-top: 1px solid #ccc;
    flex-basis: 25px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    padding-right: 10px;

    .toggle-jsx {
      font-size: 9px;
      padding: 2px 8px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      border-radius: 3px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border: 1px solid #ccc;
      border-top: 1px solid #ddd;
      background: white;
      color: #286869;
      margin: -1px 3px 3px 3px;
      height: 15px;
      user-select: none;
      &.active {
        margin-top: -3px;
        padding-top: 4px;
        border: 1px solid #1e1e1e;
        background: #1e1e1e;
        color: white;
      }
    }
  }
}

.cactiva-breadcrumb {
  display: flex;
  flex-direction: row;
  flex: 1;
  overflow-y: hidden;

  .breadcrumb-tag {
    position: relative;
    cursor: pointer;
    margin-right: -3px;

    &.last {
      margin-left: -2px;
      &:before {
        border-left: 10px solid #e5eef6;
      }
      &:after {
        border-left: 10px solid rgba(255, 255, 255, 0.7);
      }
      > div {
        width: 5px;
      }
    }

    div {
      span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        font-size: 10px;
        line-height: 15px;
        color: #425a70;
        transition: max-width 1.6s ease-out;
        max-width: 40px;
        padding: 5px 10px 5px 15px;
        text-decoration: none;
        background: #fbfbfb;
        border: 1px solid #eaeaea;
        border-top: 0px;
        font-family: "SF UI Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
          "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      }
    }

    &:first-child {
      div span {
        border-left: 0px;
      }
    }

    &:hover,
    &.selected {
      &:before {
        border-left: 10px solid #ddd;
      }
      div {
        span {
          max-width: 120px;
          transition: max-width 0.3s;
          background: #ddd;
        }
      }
    }

    &:before {
      content: "";
      position: absolute;
      right: -7px;
      top: 0;
      z-index: 20;
      border-left: 10px solid #fbfbfb;
      border-top: 12px solid transparent;
      border-bottom: 12px solid transparent;
    }

    &:after {
      content: "";
      position: absolute;
      right: -8px;
      top: 0;
      z-index: 10;
      // border-left: 10px solid red;
      border-left: 10px solid #eaeaea;
      border-top: 12px solid transparent;
      border-bottom: 12px solid transparent;
    }

    &.selected {
      div {
        span {
          color: #1070ca;
          background: #e5eef6;
        }
      }
      &:before {
        border-left: 10px solid #e5eef6;
      }
    }

    &:first-child {
      border-left: none;
      // font-size: 18px;
      // border-radius: 5px 0px 0px 5px;
    }
  }
}

.cactiva-toolbar {
  background: #fbfbfb;
  flex-direction: column;
  display: flex;
  padding: 2px;
  overflow-y: auto;
  border-right: 1px solid #ccc;
  position: relative;
  flex-basis: 35px;
  .cactiva-toolbar-inner {
    position: absolute;
    bottom: 0;
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    overflow-y: auto;
    left: 0;
    top: 0;
  }
  .divider {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ebebeb;
    margin: 4px 0;
    padding: 0;
  }

  .btn-toolbar {
    > button {
      border: 0 !important;
      box-shadow: none !important;
      background: transparent;
      &:hover,
      &:focus,
      &:active {
        outline: none !important;
        background: #e8eff6 !important;
      }
    }
  }
}

.cactiva-selectable {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  &.selected {
    background-size: auto auto;
    background-color: transparent;
    background-image: repeating-linear-gradient(
      135deg,
      transparent,
      transparent 10px,
      rgba(59, 160, 251, 0.18) 10px,
      rgba(59, 160, 251, 0.18) 20px
    );
  }
}
.cactiva-el-cmenu {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-size: auto auto;
  background-color: rgba(255, 255, 255, 0.4);
  background-image: repeating-linear-gradient(
    135deg,
    transparent,
    transparent 10px,
    rgba(59, 160, 251, 0.41) 10px,
    rgba(59, 160, 251, 0.41) 20px
  );
}

.add-btn {
  background: #3ba0fb;
  border-radius: 3px;
  position: absolute;
  width: 20px;
  border: 1px solid white;
  height: 20px;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &:hover {
    z-index: 100;
  }
}
