.cactiva-editor-container {
  margin-right: -4px;
  overflow-x: hidden;
}
.cactiva-editor {
  flex: 1;
  padding: 5px;
}

.cactiva-element {
  border: 1px dotted #aaa;
  display: flex;
  flex-direction: column;
  min-height: 30px;
  min-width: 30px;
  padding: 0px 5px;
  position: relative;
  &.hover {
    border: 1px solid #3ba0fb;
  }
  &.selected {
    border: 1px solid #3ba0fb;
  }
  &.kind {
    padding: 0;
  }
  &.horizontal {
    flex-direction: row;
    align-items: center;
    display: flex;
    padding: 5px 0px;
  }
}

.cactiva-element-tag {
  background-color: #3ba0fb;
  position: absolute;
  width: auto;
  height: auto;
  top: -1px;
  right: -1px;
  color: #fff;
  padding: 4px;
  font-size: 10px;
  display: none;
  z-index: 9;

  &.hover {
    display: block;
  }

  > span {
    font-size: 9px;
  }
}
