.cactiva-tree {
  display: flex;
  flex-direction: column;
  .search-box {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #ccc;

    .search {
      flex: 1;
      outline: none !important;
      box-shadow: none !important;
      border: 0;
      border-radius: 0;
      font-size: 11px;
    }

    .search-opt {
      flex-basis: 25px;
      display:flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      border-left: 1px solid #ccc;
    }
  }
  .list {
    flex: 1;
    .item {
      cursor: default;
      user-select: none;
      display: flex;
      flex-direction: row;
      .icon {
        flex-basis: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      span {
        flex: 1;
        font-size: 11px;
      }
      &.selected,
      &:hover {
        background: #e3f2ff;
      }
    }
  }
}
