.cactiva-dialog-editor {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  margin: 0px;
  background: white;
  border-radius: 4px;

  .list {
    flex-basis: 150px;
    display: flex;
    flex-direction: column;
    padding: 0px 0px 10px 0;
    border-right: 1px solid #ccc;
    .search-box {
      .search {
        border-top-left-radius: 10px;
      }
    }
    .list-items {
      flex: 1;
      overflow-y: auto;

      > .item {
        cursor: default;
        user-select: none;
        display: flex;
        flex-direction: row;
        .icon {
          &.file {
            margin-top: 2px;
          }
          flex-basis: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        span {
          flex: 1;
          text-transform: capitalize;
          font-size: 11px;
        }
        &:hover,
        &.hover {
          background: #ececeb;
        }
        &.selected {
          background: #e3f2ff;
        }
      }
    }
  }
  .content-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    > div[role="tablist"] {
      padding: 0px;
      display: flex;
      flex-direction: row;
      align-items: center;
      border-bottom: 1px solid #ccc;
      user-select: none;
      > span {
        border-radius: 0;
        box-shadow: none !important;
        font-size: 11px;
        margin: 0;
        height: 25px;
      }
    }
  }
  .content {
    flex: 1;
    display: flex;
    position: relative;
    overflow: hidden;
  }
}
