.cactiva-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  justify-content: space-between;
  flex: 1;

  > .center {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 5px 8px;
    height: 15px;
    user-select: none;
    min-width: 250px;
    border-radius: 5px;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(250, 2450, 250, 1) 100%
    );
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  > .right {
    padding: 0px 15px;
    display: flex;
    flex-direction: row;
    position: relative;

    .btn {
      user-select: none;
      margin: 0px 2px;
      cursor: pointer;
      display: flex;
      align-items: center;
      flex-direction: row;
      padding: 0px 4px;
      min-height: auto;
      height: 24px;
      border: 1px solid transparent !important;
      border-radius: 6px;
      background: rgba(255, 255, 255, 0) !important;
      box-shadow: none !important;
      &:hover {
        border: 1px solid #ddd !important;
        background: rgba(255, 255, 255, 1) !important;
      }

      span,
      svg {
        color: #999 !important;
      }

      > .badge {
        font-weight: bold;
        font-size: 9px;
        display: flex;
        color: #999;
        padding: 2px;
        border:1px solid #999;
        border-radius: 3px;
        height: 10px;
        line-height: 10px;
        margin: 0px 3px 0px 5px;
      }
    }
  }
}
