.trait-string-literal {
  display: flex;
}

.cactiva-trait-icon {
  display: flex;
  flex-direction: column !important;
  flex: 1 !important;
  align-items: flex-start !important;
  height: auto !important;

  .icon-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;

    .toolbar {
      display: flex;
      flex-direction: row;
      .icon-selected {
        margin: 0 8px;
        align-items: center;
        justify-content: center;
        display: flex;

        i {
          color: #1070ca !important;
        }
      }
    }

    .list {
      .icon {
        cursor: pointer;
        width: 35px;
        display: flex;
        align-items: center;
        border-radius: 4px;
        justify-content: center;

        &:hover {
          background: rgba(16, 112, 202, 0.09);
          i {
            color: #1070ca !important;
          }
        }
      }
      .active {
        background: rgba(16, 112, 202, 0.09);
        i {
          color: #1070ca !important;
        }
      }
    }
  }
}

.cactiva-trait-color-picker {
  display: flex;
  flex: 1;
  .cactiva-trait-input {
    border-right: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
  }
  button {
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
  }
}

.sketch-picker {
  box-shadow: none !important;
  user-select: none;
}

.cactiva-trait-radio {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  > button {
    border-radius: 0px !important;
    box-shadow: none !important;
    border: 1px solid #cdd9e2;
    border-left-width: 0px;

    &:first-child {
      border-top-left-radius: 4px !important;
      border-bottom-left-radius: 4px !important;
      border-top-right-radius: 0px !important;
      border-bottom-right-radius: 0px !important;
      border-left-width: 1px;
    }
    &:last-child {
      border-top-left-radius: 0px !important;
      border-bottom-left-radius: 0px !important;
      border-top-right-radius: 4px !important;
      border-bottom-right-radius: 4px !important;
    }
  }
}

.cactiva-trait-font {
  flex: 1;
  display: flex;

  .btn-upload {
    svg {
      fill: rgb(102, 120, 138) !important;
    }
  }
}
