.cactiva-traits-inner {
  span {
    font-size: 11px;
  }
  .heading {
    border-bottom: 1px solid #ddd;
    padding: 2px 5px;
    text-transform: capitalize;
    user-select: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    > span {
      opacity: 0.7;
      font-size: 11px;
    }
    > svg {
      opacity: 0.3;
    }
  }
  .cactiva-trait-field {
    padding: 5px 0px;
    flex-direction: row;
    align-items: center;
    .label {
      padding: 0px 5px 0px 10px;
      text-transform: capitalize;
      width: 60px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
