$primary: rgb(51, 102, 255);
$success: rgb(0, 224, 150);
$info: rgb(0, 149, 255);
$warning: rgb(255, 170, 0);
$danger: rgb(255, 61, 113);
$basic: rgb(237, 241, 247);

.primary {
  background-color: rgba($primary, 0.16);
  border-color: $primary;
  color: $primary;

  &.active {
    background-color: $primary;
    fill: $primary;
  }
}
.success {
  background-color: rgba($success, 0.16);
  border-color: $success;
  color: $success;

  &.active {
    background-color: $success;
    fill: $success;
  }
}
.info {
  background-color: rgba($info, 0.16);
  border-color: $info;
  color: $info;

  &.active {
    background-color: $info;
    fill: $info;
  }
}
.warning {
  background-color: rgba($warning, 0.16);
  border-color: $warning;
  color: $warning;

  &.active {
    background-color: $warning;
    fill: $warning;
  }
}
.danger {
  background-color: rgba($danger, 0.16);
  border-color: $danger;
  color: $danger;

  &.active {
    background-color: $danger;
    fill: $danger;
  }
}
.basic {
  background-color: $basic;
  border-color: #c5cee0 !important;
  color: $primary;

  .uik-text {
    color: rgb(34, 43, 69);
  }

  &.active {
    background-color: $primary;
    fill: $primary;
    border-color: $primary !important;
  }
}

.uik-field {
  background-color: #f7f9fc;
  border-radius: 4px;
  border: 1px solid #edf1f7;
  color: #8f9bb3;
  font-weight: normal;
  margin: 4px;
  display: flex;
  align-items: center;

  .uik-input {
    flex: 1;
    margin-right: 8px;
    margin-left: 8px;
    display: flex;
    align-items: center;
    min-width: 200px;
  }

  .uik-select {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 125px;
  }
}

.uik-select,
.uik-input {
  &.small {
    min-height: 35px;
    font-size: 13px;
    padding: 3px 8px;
  }
  &.medium {
    min-height: 41px;
    padding: 7px 8px;
    font-size: 15px;
  }
  &.large {
    min-height: 40px;
    padding: 11px 8px;
    font-size: 15px;
  }
}

.uik-button {
  flex: 1;
  align-items: center;
  justify-content: center;

  &.disabled {
    background-color: rgba(143, 155, 179, 0.24);
    border-color: rgba(143, 155, 179, 0.24);

    .uik-text {
      color: rgb(143, 155, 179);
    }
  }

  &.tiny {
    min-width: 12px;
    padding: 6px !important;
    min-height: auto !important;

    .uik-text {
      font-size: 10px;
      line-height: 12px;
      margin-right: 6px;
      margin-left: 6px;
    }
  }

  &.small {
    min-width: 16px;
    padding: 8px !important;
    min-height: auto !important;

    .uik-text {
      font-size: 12px;
      line-height: 16px;
      margin-right: 8px;
      margin-left: 8px;
    }
  }

  &.medium {
    min-width: 20px;
    padding: 12px 10px !important;
    min-height: auto !important;

    .uik-text {
      font-size: 14px;
      line-height: 16px;
      margin-right: 10px;
      margin-left: 10px;
    }
  }

  &.large {
    min-width: 48px;
    padding: 14px 10px !important;
    min-height: auto !important;

    .uik-text {
      font-size: 16px;
      line-height: 20px;
      margin-right: 10px;
      margin-left: 10px;
    }
  }

  &.giant {
    min-width: 56px;
    padding: 16px 12px !important;
    min-height: auto !important;

    .uik-text {
      font-size: 18px;
      line-height: 24px;
      margin-right: 12px;
      margin-left: 12px;
    }
  }

  .uik-text {
    color: rgb(255, 255, 255);
    font-weight: bold;
  }

  &.outline {
    background-color: $basic !important;

    .uik-text {
      color: inherit;
    }
  }

  &.ghost {
    background-color: transparent !important;
    border-color: transparent !important;

    .uik-text {
      color: inherit;
    }
  }
}

.uik-topnav {
  min-height: 40px;
  padding: 8px;
  background: #fff;
  align-items: center;
  display: flex;
}

.uik-radio {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  .bullet {
    border-radius: 12px;
    border: 1px solid;
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;

    .dot {
      visibility: hidden;
      height: 18px;
      width: 18px;
      border-radius: 12px;
    }

    &.active {
      background-color: #fff;

      .dot {
        visibility: visible;
      }
    }
  }

  .label {
    color: rgb(26, 33, 56);
    font-size: 13px;
    font-weight: 600;
    line-height: 24px;
    margin-right: 12px;
    margin-left: 12px;
  }
}

.uik-checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  .tick {
    border-radius: 3px;
    border: 1px solid;
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      visibility: hidden;
    }
    &.active {
      background-color: $primary;
      border-color: $primary;
      svg {
        visibility: visible;
      }
    }
  }

  .label {
    color: rgb(26, 33, 56);
    font-size: 13px;
    font-weight: 600;
    line-height: 24px;
    margin-right: 12px;
    margin-left: 12px;
  }
}

.uik-toggle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  .bullet {
    border-radius: 16px;
    border: 1px solid;
    height: 32px;
    overflow: hidden;
    width: 52px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .dot {
      background-color: white;
      border-radius: 15px;
      height: 30px;
      transform: translateX(0px);
      width: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &.active {
      justify-content: flex-end;

      .dot {
        svg {
          fill: inherit !important;
        }
      }
    }
  }

  .label {
    color: rgb(26, 33, 56);
    font-size: 13px;
    font-weight: 600;
    line-height: 24px;
    margin-right: 12px;
    margin-left: 12px;
  }
}
