html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
div {
  display: flex;
  flex-direction: column;
}
#root {
  display: flex;
  width: 100%;
  height: 100%;
}
.cactiva-container {
  flex: 1;
  .cactiva-menu {
    flex-basis: 35px;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
  }
  .cactiva-main {
    flex: 1;
    flex-direction: row;
    > .cactiva-pane {
      margin-right: -5px;
      .cactiva-pane-inner {
        margin-right: -8px;
      }

      .cactiva-pane-tab-header {
        flex-direction: row;
        border-bottom: 1px solid #999;
        > span {
          box-shadow: none;
          outline: 0;
          font-size: 11px;
          margin: 0;
          border-radius: 0;
        }
      }
    }
    > div {
      display: block;
      height: 100%;
    }
    > .cactiva-editor-loading {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: center;
    }
    .gutter {
      cursor: col-resize;
      border-right: 1px solid #ccc;
    }
  }
}
